/*https://www.onlinewebfonts.com/download/6ef3076e880d44c4f86c908020821c7b*/

@import url(//db.onlinewebfonts.com/c/6ef3076e880d44c4f86c908020821c7b?family=FTY+SKORZHEN+NCV);
:root {
    --red: #c96f63;   /* rgb(201, 111, 99) */
    --black: #222;
    --lightgray: #aaa;
    --white: #fff;
    --font: 16px;
    --padding: 100px 0;
    --transition: .3s ease;
}

/*******************
basic styles
*******************/


